@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color1: rgba(199, 217, 4, 0.956);
$color2: black;

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: $color1;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    
    button:hover{
        color: $color1;
    }

    button{
        font-size: 17px;
        padding: 3px;
        margin: 20px;
        background-color: $color2;
        color: white;
        border-radius: 15px;
    }

    header{
        background-color: $color2;

        .navbar{
            text-align: center;

            img{
                height: 160px;
            }
        }
    }

    .tabla{
        display: inline-block;
        padding: 20px;
        th{
            padding: 10px;
            letter-spacing: 1px;
        }
    }
    
    .sorteo{
        font-size: 20px;
        padding: 20px;

        h2{
            font-size: 27px;
            margin-bottom: 10px;
            padding: 5px;
        }

        ul{
            list-style-type: none;
        }
    }

    footer{
        background-color: $color2;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: 20px;
    }
}


